* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* TOP BAR */
.top-bar {
    background-color: #2f8c92;
    color: #fff;
    font-size: 14px;
}

.top-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.top-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

span:hover{
    color: #E9CD8C;
}

.social-icons i {
    margin-left: 10px;
    cursor: pointer;
}

.social-icons i:hover{
    color: #E9CD8C;
}

/* NAVBAR */
.navbar {
    background-color: #fdfbf6;
    border-bottom: 1px solid #eee;
}

.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

/* LOGO */
.logo1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}

/* NAV LINKS */
.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-left: 380px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    color: #222;
    font-weight: 600;
}

.nav-links a.active {
    color: #2f8c92;
}

.nav-links a:hover{
    color: #66A6AB;

}

/* PHONE BUTTON */
.phone-btn {
    background-color: #f1d41c;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.phone-btn:hover{
  background-color: #F5E477;
}
/* ABOUT SECTION */
.about-section {
    position: relative;
    /* background: #eaf6f3; */
    height: 500px;
    text-align: center;
    overflow: hidden;
    z-index: 1;

    /* WAVES */
    background-image:
        url("h1-rev-img-06.png");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100% auto;
}

/* CONTENT */
.content {
    position: relative;
    top: 140px;
    z-index: 2;
}

.content h1 {
    font-size: 52px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.content p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

/* CLOUDS */
.cloud {
    position: absolute;
    background: url("h1-rev-img-04.png") no-repeat center/contain;
    width: 160px;
    height: 90px;
    opacity: 0.9;
    /* animation: moveClouds 2s linear infinite; */
}

.cloud-1 {
    top: 40px;
    left: 270px;
}

/* .cloud-2 {
    top: 160px;
    left: -300px;
    animation-duration: 70s;
} */

.cloud-3 {
    top: 220px;
    left: 50px;
  
}

/* CLOUD ANIMATION */
@keyframes moveClouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1400px);
    }
}


.faq-section {
    background: #FCFAF6;
    padding: 100px 0;
    margin-top: -120px;
}

.faq-container {
    max-width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    gap: 80px;
    padding: 0 40px;
}

.faq-col {
    flex: 1;
    margin-top: 100px;
}

/* ITEM */
.faq-item {
    border-bottom: 1px solid #ddd;
    
}

/* HIDE INPUT */
.faq-item input {
    display: none;
}

/* TITLE */
.faq-title {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 26px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    color: #222;
    margin-left: 30px;
}

/* PLUS ICON */
.icon {
    width: 12px;
    height: 12px;
    position: relative;
    flex-shrink: 0;  
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    background: #2f8a90;
    transition: 0.3s ease;
}

.icon::before {
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.icon::after {
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
}

/* CONTENT */
.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-left: 60px;
}

.faq-content p {
    padding-bottom: 26px;
    font-size: 15px;
    color: #777;
    line-height: 1.7;
}

/* OPEN */
.faq-item input:checked ~ .faq-content {
    max-height: 300px;
}

.faq-item input:checked ~ .faq-title .icon::before {
    transform: scaleY(0);
}

/* MOBILE */
@media (max-width: 900px) {
    .faq-container {
        flex-direction: column;
        gap: 0;
    }
}

/* Footer  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: relative;
    background-color: #1f2f56;
    color: #ffffff;
    padding-top: 320px;
    background: url("footer-img-01.png") no-repeat center top;
    height: 745px;
    width: 100%;
    margin-top: -140px;

}

/* WAVE BACKGROUND */
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* background-size: 100% 100%; */
    z-index: 1;
}

.footer * {
    position: relative;
    z-index: 2;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 0 40px;
}

/* .footer-col{
float: left;
margin-left: -310px;
} */

/* LOGO */
.logo {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

/* TEXT */
.footer p {
    font-size: 15px;
    line-height: 1.7;
    color: #ffffff;
}

/* HEADINGS */
.footer h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

/* SOCIAL ICONS */
.socials {
    margin-top: 30px;
}

.socials a {
    display: inline-flex;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    /* margin-right: 12px; */
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s ease;
    text-decoration: none;
    padding: 5px;
}

.socials a:hover {
    color: #1ecad3;
}

/* CONTACT LIST */
.contact {
    list-style: none;
}

.contact li {
    margin-bottom: 16px;
    font-size: 15px;
    color: #ffffff;
}

.contact li:hover{
    color: #1ecad3;
}

.contact i {
    margin-right: 12px;
    color: #ffffff;
}

/* MAP */
.footer-map img {
    width: 100%;
    max-width: 240px;
    
}

/* FOOTER BOTTOM */
.footer-bottom {
    margin-top: 80px;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 14px;
    color: #ffffff;
}
