*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 body{
    background: beige;
 }
 .section{
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px 20px;
 }
 h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    color: black;
 }
 .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    max-width: 1000px;
    margin: auto;
 }
 .card{
    background: #fff;
    padding: 28px;
    border-radius: 16px;
   height: 200px;
   width: 400px;
 }
 .card p{
    color: black;
    font-size: 15px;
    margin-bottom: 22px;
 }
 .card-1{
    background: #fff;
    padding: 28px;
    border-radius: 16px;
   height: 200px;
   width: 400px;
    margin-left: 700px;
    margin-top: -250px;
 }

 .card-1 p{
    color: black;
    font-size: 15px;
    margin-bottom: 22px;
 }
  .card-2{
    background: #fff;
    padding: 28px;
    border-radius: 16px;
   height: 200px;
   width: 400px;
   margin-left: 127px;
   margin-top: 20px;
 }
 .card-2 p{
    color: black;
    font-size: 15px;
    margin-bottom: 22px;
 }