*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #232323
   

}
h1{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: white;
    color: aliceblue;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
}
.hero{
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}
.hero h1{
    font-size: 50px;
    font-weight: bold;
}
.hero p{
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.8;

}

button{
    margin-top: 20px;
    padding: 12px, 25px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background: white;
    color: aliceblue;
    cursor: pointer;
}